<div class="col-md-12">

    <div class="panel panel-default">

        <div class="panel-heading-fd">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-8">
                        <h3 class="panel-title-fd">{{categoryTitle}}</h3>
                    </div>
                    <div class="col-md-4">
                        <div id="custom-search-input">
                            <div class="input-group pull-right">
                                <input type="text" class="  search-query form-control" placeholder="Search"
                                       ng-model="searchQuery"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div class="panel-body">
            <div class="media">
                <div class="media-body">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th class="text-center">Action</th>
                            <th>Название</th>
                            <th>Белок</th>
                            <th>Жиры</th>
                            <th>Углеводы</th>
                            <th>Ккал</th>

                        </tr>
                        </thead>
                        <tr ng-repeat="dish in dishes | filter:searchQuery">
                            <td class="text-center">
                                <div ng-hide="dish.added">
                                    <a ng-src="{{dish}}"
                                       ng-click="addToRation(dish)">
                                        <i class="fa fa-plus-circle fa-2x"></i>
                                    </a>
                                </div>
                                <div ng-hide="!dish.added">
                                    <a ng-src="{{dish}}"
                                       ng-click="removeFromRation(dish)">
                                        <i class="fa fa-minus-circle fa-2x"></i>
                                    </a>
                                </div>
                            </td>
                            <td>{{dish.name}}</td>
                            <td>{{dish.protein}}</td>
                            <td>{{dish.triglyceride}}</td>
                            <td>{{dish.carbohydrate}}</td>
                            <td>{{dish.calories}}</td>
                        </tr>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>

