<div ng-controller="SensorsCtrl">
    <div class="col-xs-12 col-sm-12 col-md-8">
        <div class="panel status panel-info">
            <div class="panel-heading">
                <div class="form-group">

                    <label class="col-md-4 control-label" for="sex">Пол:</label>
                    <div class="col-md-8">
                        <select id="sex" name="sex" class="form-control" ng-model="user.sex">
                            <option value="man">Мужской</option>
                            <option value="woman">Женский</option>
                        </select>
                    </div>

                    <label class="col-md-4 control-label" for="activity" ng-model="activity">Активность:</label>
                    <div class="col-md-8">
                        <select id="activity"  class="form-control" ng-model="user.activity"
                                ng-options="activity as activity.description for activity in activities">
                        </select>
                        <!--<select id="selectbasic" name="selectbasic" class="form-control">-->
                            <!--<option ng-repeat="activity in activities" value="{{activity.value}}">{{activity.description}}</option>-->
                        <!--</select>-->
                    </div>

                    <label class="col-md-4 control-label" for="activity" ng-model="activity">Возраст:</label>
                    <div class="col-md-8">
                        <input ng-model="user.age" class="form-control" type="text" placeholder="Ваш возраст">
                    </div>

                    <label class="col-md-4 control-label" for="activity" ng-model="activity">Активность:</label>
                    <div class="col-md-8">
                        <input ng-model="user.weight" class="form-control" type="text" placeholder="Ваш вес" >
                    </div>

                    <label class="col-md-4 control-label" for="activity" ng-model="activity">Активность:</label>
                    <div class="col-md-8">
                        <input ng-model="user.growth" class="form-control" type="text" placeholder="Ваш рост" >
                    </div>

                </div>
            </div>
            <div class="panel-body text-center">
                <strong>Собственные характеристики</strong>
            </div>
        </div>

    </div>

    <div class="col-xs-12 col-sm-12 col-md-4">

        <div class="panel status panel-info">
            <div class="panel-heading">
                <h1 class="panel-title text-center">{{recommendedAmountOfCalories()}}</h1>
            </div>
            <div class="panel-body text-center">
                <strong>калорій</strong>
            </div>
        </div>

        <div class="panel status panel-success">
            <div class="panel-heading">
                <h1 class="panel-title text-center">{{amountOfCalories()}}</h1>
            </div>
            <div class="panel-body text-center">
                <strong>калорій</strong>
            </div>
        </div>
    </div>
</div>